
            /* global style */

 /html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h3{
  margin-bottom: 0;
  margin-top: 30px;
}
.content_wrap{
  max-width: 1000px;
  width:80%;
  margin: auto;
  height: auto;
  background-color: white;
}

.clearfix{
  clear: both;
}


           /* nav */

  .flex-item{
   box-sizing: border-box;
  }

 .flex-item > ul{
   margin-bottom: 0;
 }

 .flex-item > ul > li{
   display: inline-block;
 }

.flex-item > ul > li > a{
  color: black;
  text-decoration: none;
  list-style-type: none;
  font-size: 13px;
  margin-bottom: 0;
}

.flex-item > ul > li > a:hover{
  background-color: goldenrod;
  border-bottom: 1px solid goldenrod;
  border-radius:2px;
  border-width: inherit;
}

.vl{
  border-left: 1px solid grey;
  padding: 1px 10px;
}

a{
  color: black;
  text-decoration: none;
}
                      /* header */
.logo_color{
  color: goldenrod;
}

hr{
border: 2px solid lightgrey;
width:auto;
}

.home_about_margin{
  margin-top: 20px;
}

.home_about{
padding-left:10px;
}

.home_about_i{
  padding-left: 8px;
}

           /* main_menu */

 .img_main{
   max-width: 100%;
   width: 1000px;
 }


.item4  {
  margin-top:30px;
  margin-bottom: 100px;
}

.article_follow_us_a{
  padding: 15px;
  border-radius: 30px;
  background-color: lightgrey;
  margin: 5px;
}

.article_follow_us > p{
  margin-top: 40px;
}

.

.flex-item5{
  flex:1 4;
}

.padding1{
  padding: 9px;
  margin-right: 10px;

  border: none;
  width: 270px;
}

.padding2{
  padding: 9px;
  background-color:goldenrod;
  border: none;
  width: 100px;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
}

.container5{
  margin-top: 15px;
  margin-left: 40px;
}

.background_img{
  /* max-width: 1000px; */
  max-width:100%;
  height: auto;
}

.flex-item2{
  flex: 2 1 900px;
  ,max-width:100% ;
  height: auto;
  justify-content: space-between;
}

.flex-item2 > span{
  line-height: 2.5;
}

.tags_cloud_border1{
  border: 1px hidden white;
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 8px;
  margin-right: 5px;
}

.tags_cloud_border1:hover{
background-color: skyblue;
}

.tags_cloud_border2{
  border: 1px hidden white;
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 8px;
  margin-top: 10px;
  margin-right: 5px;
}

.tags_cloud_border2:hover{
  background-color: skyblue;
}

.tags_cloud_link > p{
  margin: 5px;
}

.tags_cloud_icon{
  margin-top: 85px;
}

#tags_cloud_fold{
  margin-left: 0;
  margin-right: 0;
}

.follow_us_border{
  border-right: 1px solid black;
}


.flex-item3{
  display: flex;
  width: 300px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: bold;
}

.flex-item3 > p{
  margin-top: 0;
  margin-left:20px;
  margin-right: 34px;
}

.flex-item3 > img{
  height: 100px;
  border-radius: 5px;
}

.seaurchins{
  margin-top: 30px;
}

.feature_post{
  margin-left: 10px;
}

.footer{
  text-align: center;
  font-size: small;
  border-top: 1px solid whitesmoke;
}

              /* icon */
  .color{
  color: gold;
  }

             /* font-icons */
  .facebook1{
  color:blue;
  }
  .twitter2{
  color:#1e90ff;
  }
  .youtube3{
  color:red;
  }
  .instagram4{
  color:violet;
  }

                 /* responsive */

   @media screen and (min-width:1215px){
     .flex-container{
       display: flex;
       flex: 1 1 1;
       justify-content:space-between;
     }

     .flex-container2{
       display: flex;
       justify-content: space-between;
       margin-top: 20px;
     }

     .flex-container4{
       display:flex;
       margin-top: 20px;
     }

     .flex-container5{
       display:flex;
       background-color: whitesmoke;
       background-size:contain;
       height: 150px;
     }

     .email{
       margin:50px 15px 0 10px;
     }

     .container5 > p{
       margin-top: 33px;
       margin-bottom: 0px;
     }

     .subscribe_p{
       margin-top: 0;
     }

     .flex-item > ul > li{
       padding: 20px;
     }

     .flex-item > ul > li > a{
       padding: 8px;
     }

     .item4{
       margin-left:30px;
     }

     .flex-container5{
       border: 1px solid whitesmoke;
       background-color: whitesmoke;
       background-size:contain;
       height: 150px;
     }

     .padding1{
       margin-left: 250px;
     }

     h4::after{
       position: absolute;
         top:;
         width: 13%;
         height: 1px;
         content: "";
         margin-top: 10px;
         background-color: #dddd;
         margin-left: 15px;
       }

  }



       @media screen and (max-width:1214px){
  .flex-item > ul{
    margin-bottom: 0;
    padding:0;
  }
  .flex-item > ul > li{
    padding-right: 2px;
  }

  .flex-item > ul > li > a{
    padding-right: 6px;
  }

  .email{
    margin:0 0 0 40px;
  }

  .subscribe_p{
    margin:0;
}
    .container5 > p{
      margin-bottom: 0;
    }

    .tags_cloud_link{
      width: 300px;
    }

    .padding1{
      width:150px;
    }
}
